.image-container
{
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.chart-container {
  height: 36em;
  width: 42em;
  float: left;
  overflow: auto;
  margin-left: 1.25em;
  background-color: white;
  border-top: 1.25em solid black;
  border-bottom: 1.25em solid black;
  border-radius: .625em;
}

.inside-chart-container {
  margin-top: 3.125em;
}

.line-chart-h2 {
  text-align: center;
  font-weight: 900;
  margin-right: 2.969em;
  margin-left: 2.969em;
  color: black;
}

.pie-chart-h2 {
  height: 1.18em;
  width: 16.97em;
  float: right;
  text-align: center;
  font-weight: 900;
  color: black;
}

.pie-container {
  width: 33.9em;
  background-color: white;
  border-top: 1.25em solid black;
  border-bottom: 1.25em solid black;
  border-radius: .625em;
  height: 36em;
  float: right;
  margin-right: 1.25em;
}

.inside-pie-container {
  margin-top: 3.125em;
  height: 36em;
}
