#nav-bar {
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 0px;
  color: #ffffff;
  background-color: white;
  
  
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#logo {
  width: 82px;
}

#content {
  display: flex;
  align-items: center;
  height: 100%;
}

#nav-link {
  color: #3a3e47; 
  display: inline-block; 
  height: 100%; 
  font-size: 16px; 
  text-decoration: none; 
  text-transform: uppercase; 
  display: flex; 
  align-items: center; 
  padding: 0 3px; 
}

#nav-content-item {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}

#nav-link-active {
  color: #ffaa3b;
  border-top: 4px solid #ffaa3b;
  font-weight: 700;
}
