#nav-bar {
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 0px;
  color: #ffffff;
  background-color: white;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
}

#logo {
  width: 92px;
}

#content {
  display: flex;
  align-items: center;
  height: 100%;
}


